body {
    padding-right: 20px;
    padding-left: 20px;
    font-family: Verdana;
    font-size: 16px;
}

#links {
    padding: 10px;
    padding-bottom: 20px;
}

label {
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="email"] {
    display: block;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 4px 6px;
    width: 300px;
}

input[type="submit"] {
    /*display: block;*/
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 4px 6px;
    width: 80px;
}

select {
    display: block;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 4px 6px;
    width: 315px;
}

table.tablesorter {
    font-family: verdana;
    font-size: 16px;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    font-size: 16px;
}

.pagedisplay {
    width: 50px !important;
    display: inline !important;
}

.pagesize {
    width: 60px !important;
    display: inline !important;
}